@{
    ViewBag.Header = ViewBag.Title = "work";
}


<div class="workSkills">
    Left column - Quick list of skills
    Project Development Skills
    <div>
        <div>
            <h2>Programming</h2>
            <p>
                .Net, C#, PHP, Javascript
            </p>
            <p>
                My passion. 
            </p>
        </div>
        <div>
            <h2>Web Technologies</h2>
            <p>
                ASP.NET, HTML, CSS, Yii, Wordpress
            </p>
            <p>

            </p>
        </div>
        <div>
            <h2>Database</h2>
            <p>
                MSSQL, MySQL, Webservices, Integrations
            </p>
            <p>

            </p>
        </div>
        <div>
            <h2>Servers</h2>
            <p>
                Windows Server, Linux, Virtualization and the cloud.
            </p>
            <p>
                The majority of my exprience has been working with the entire Windows stack, but I have also worked with different stacks on linux.
            </p>
        </div>
        <div>
            <h2>Project Planning</h2>
            <p>
                Project planning, scopes, communication
            </p>
            <p>

            </p>
        </div>
        <div>
            <h2>Design</h2>
            <p>
                Not my strongest skill.
            </p>
            <p>
                I can help improve the UX and SEO of an existing design, but the ability to creat a fresh new design is above me.
            </p>
        </div>

    </div>
@*  <div class="workExamples">
        <div>La-Z-Boy.com</div>
        <div>Mobile.La-Z-Boy.com</div>
        <div>Paramount Digital User Guide</div>
        <div>Ohio Lottery</div>
        <div></div>
        <div></div>
    </div>*@
