@{
    ViewBag.Title = "Work";
    ViewBag.Header = "work";
}
@section scripts{
    <script type="text/javascript">
        NeilSite.Work = new (function () {
            var me = this;
            //public
            this.init = function () {
                bindEvents();

            }

            //private
            function bindEvents() {
                $('.skillList').delegate("a", "click", function () {
                    alert('no content');
                });
            }

        });
    </script>
}

<div class="Work">
    <p class="desc">
        Project Development Skills - Click on a skill for more about my experience with the technology.
    </p>

    <div class="workSkills">
        @*Left column - Quick list of skills*@


        <div class="workSkillsSection">
            <h2>Programming</h2>
            <div>
                My passion. 
            </div>
            <div class="skillList">
                <a href="javascript:;">.Net</a>
                <a href="javascript:;">C#</a>
                <a href="javascript:;">PHP</a>
                <a href="javascript:;">Javascript</a>
            </div>
            <div></div>
        </div>
        <div class="workSkillsSection">
            <h2>Web Technologies</h2>
            <div>
                My favorite platform for development.
            </div>
            <div class="skillList">
                <a href="javascript:;">ASP.NET</a>
                <a href="javascript:;">HTML</a>
                <a href="javascript:;">CSS</a>
                <a href="javascript:;">Yii</a>
                <a href="javascript:;">Wordpress</a>
            </div>
            <div></div>
        </div>
        <div class="workSkillsSection">
            <h2>Database</h2>
            <div>
            </div>
            <div class="skillList">
                <a href="javascript:;">MSSQL</a>
                <a href="javascript:;">MySQL</a>
                <a href="javascript:;">Webservices</a>
                <a href="javascript:;">Integrations</a>
            </div>
            <div>
            </div>
        </div>
        <div class="workSkillsSection">
            <h2>Servers</h2>
            <div>
                Managing a full stack
            </div>
            <p class="skillList">
                <a href="javascript:;">Windows Server</a>
                <a href="javascript:;">Linux</a>
                <a href="javascript:;">Virtualization</a>
                <a href="javascript:;">Cloud</a>
            </p>
            <div>
                The majority of my exprience has been working with the entire Windows stack, but I have also worked with different stacks on linux.
            </div>
        </div>
        <div class="workSkillsSection">
            <h2>Project Planning</h2>
            <div>
                Experienced in taking a project from start to finish
            </div>
            <div class="skillList">
                <a href="javascript:;">New Ideas</a>
                <a href="javascript:;">Project planning</a>
                <a href="javascript:;">Scopes</a>
                <a href="javascript:;">Communication</a>
            </div>
            <div>
            </div>
        </div>
        <div class="workSkillsSection">
            <h2>Design</h2>
            <div>Not my strongest skill.</div>
            <div class="skillList">
                <a href="javascript:;">Cut-up</a>
                <a href="javascript:;">Templates</a>
            </div>
            <div>
                I can help improve the UX and SEO of an existing design, but the ability to creat a fresh new design is above me.
            </div>
        </div>

    </div>
    @*  <div class="workExamples">
        <div>La-Z-Boy.com</div>
        <div>Mobile.La-Z-Boy.com</div>
        <div>Paramount Digital User Guide</div>
        <div>Ohio Lottery</div>
        <div></div>
        <div></div>
    </div>*@
</div>
