
@{
    ViewBag.Title = "Bing";
    Layout = "~/Views/Shared/_BadaLayout.cshtml";
}

      <div class="jumbotron">
        <h1>Bing It!</h1>
        <p class="lead">Make sure you are signed into Bing.</p>
        <p><a href="javascript:;" class="btn btn-lg btn-success" id="BingItButton">Bada Bing</a></p>
      </div>

