@{
    ViewBag.Title = "about me";
    ViewBag.Header = "about me";
}

<div class="About">
    <h2>I develop back-end system designs and implement front-end user experiences.</h2>


    <p>
        This is still a very early version of my site.
    </p>
</div>
