@{
    ViewBag.Title = "About";
    ViewBag.Header = "about";
}
@section scripts{
    <script type="text/javascript">
        NeilSite.Home = new (function () {
            var me = this;
            //public
            this.init = function () {
                bindEvents();
                inDevSite();

            }
            //private
            function bindEvents() {
            }
            function inDevSite() {
                $('#InDevSite').html('This is "Preview" of my site. I am still filling in the copy, adding functionality and finalizing the design. This early release is to give anyone interested a general overview of my skillset.');//hiding this from search engines
            }
        });
    </script>
}
<div class="About">
    <h2>Developer of Innovative and Intelligent Solutions</h2>

    <p>
        I am a web developer currently located in Toledo, Ohio. 
        I specialize in creating interactive designs using javascript, css and ASP.Net. 
        
    </p>

    <p id="InDevSite" class="orange">
    </p>


    <p>
        You can usually find me at alteast one meetup event a week and the occasional conference. I find the connections I make at these events often spark new ideas and give a good insight on trending technologies.
    </p>
    <p>
        I have been a web developer for over 7 years and I've worked with full stacks on both Windows and Linux environments.

    </p>
    <p>
        Types of projects I’ve worked on:
        <ul>
            <li>Ecommerce with ASP.NET MVC and knockoutjs</li>
            <li>Interactive and animated HTML5 apps</li>
            <li>Mobile and responsively designed sites</li>
            <li>Web API and SOAP services</li>
            <li>Internal application and client portals</li>
        </ul>
        <br />
        Check out my <a href="/Work">work</a> page for a better look at me capabilities.
    </p>
</div>
