@{
    ViewBag.Title = "About";
    ViewBag.Header = "about";
}
@section scripts{
    <script type="text/javascript">
        NeilSite.Home = new (function () {
            var me = this;
            //public
            this.init = function () {
                bindEvents();
                inDevSite();

            }
            //private
            function bindEvents() {
            }
            function inDevSite() {
                $('#InDevSite').html('This is still a very early version of my site, so please excuse the lorem ipsum.');//hiding this from search engines
            }
        });
    </script>
}
<div class="About">
    <h2>Developer of Innovative and Intelligent Solutions</h2>

    <p>
        I am a web developer currently located in Toledo, Ohio. I specialize in creating interactive designs using javascript, css and ASP.Net.
    </p>

    <p id="InDevSite">
        
    </p>
</div>
