---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Neil Gaietto - Software Architect and Developer"
  description="Neil Gaietto is a Software Architect and Developer based in Apex, NC. Get in touch via email or LinkedIn."
  includeSchema={true}
>
  <main>
    <img class="neil" src="/assets/neil.jpg" alt="Photo of Neil Gaietto" title="Neil Gaietto" width="120" height="120" />
    <h1>Hi, I'm Neil Gaietto</h1>
    <h3>Software Architect and Developer</h3>
    <p>Get in touch via <a href="mailto:neil.gaietto@gmail.com?subject=Hello, from your site!" target="_blank" rel="noopener noreferrer">email</a> or <a href="https://www.linkedin.com/in/neilgaietto/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
  </main>
  <!--Photo by Marita Kavelashvili on Unsplash-->
</Layout>
