@model NeilGaiettoCom.Models.ContactForm
@{
    ViewBag.Title = "Contact";
    ViewBag.Header = "contact";
}
@section scripts{
    <script type="text/javascript">
        NeilSite.Contact = new (function () {
            var me = this;
            //public
            this.init = function () {
                bindEvents();

            }
            this.Validate = function (fieldIds) {
                var rval = true;
                $.each(fieldIds, function (key, value) {
                    if ($('#' + value).val() == '') {
                        var lbl = $('label[for="' + value + '"]').html()
                        $('#ContactFormError').html("Please enter a value for: " + lbl).show();
                        return rval = false;//exit loop and set return val
                    }
                });
                return rval;
            }
            this.SubmitForm = function (fieldIds, btn) {

                if (btn.attr('submitting') == 'true') { return; }//make sure button isnt currently loading submitting

                btn.attr('submitting', true);
                var postVals = {};
                $.each(fieldIds, function (key, value) {
                    postVals[value] = $('#' + value).val();//grab values for all fields
                });

                $('#ContactFormError').hide();

                //return function for the contact form submit
                var successFunc = function (respMsg) {//responds with a success or error with message
                    if (!respMsg || !respMsg.Status) {
                        $('#ContactFormError').html(respMsg.Message ? respMsg.Message : "There was an error submitting form.").show();
                    } else {
                        $('#ContactForm').hide();
                        $('#ContactFormThanks').show();
                    }

                    btn.attr('submitting', false);//button loading toggle
                }

                $.ajax({
                    type: 'POST',
                    url: '/Contact',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(postVals),
                    success: successFunc
                });
            }
            //private
            function bindEvents() {

                ////bind form submit links
                $('.FormSubmitButton').on('click', function (e) {
                    var fields = ['FullName', 'Email', 'Message'];
                    if (me.Validate(fields)) {
                        me.SubmitForm(fields, $(this));
                    }
                });
            }

        });
    </script>
}
<div class="Contact" id="ContactForm">
    <p>
        Located in Toledo, Ohio
    </p>
    <p>
        Reach me by email at <a href="javascript:;" class="emailAddress"></a>
    </p>
    <p>
        Tweet or follow me at <a href="https://twitter.com/neilgaietto">@@NeilGaietto</a>
    </p>
    <p>
        Or, using this form below.
    </p>
    <div class="formHolder">
        <div class="formField">
            <label for="FullName">Name</label><br>
            <input type="text" value="" name="FullName" id="FullName">
        </div>
        <div class="formField">
            <label for="Email">Email</label><br>
            <input type="text" value="" name="Email" id="Email">
        </div>
        <div class="formField">
            <label for="Message">Message</label><br>
            <textarea name="Message" id="Message"></textarea>
        </div>
        <div class="formField">
            <a class="FormSubmitButton button" href="javascript:;">Send</a>
        </div>
    </div>
</div>
<div class="ContactFormError" id="ContactFormError">
</div>
<div class="ContactFormThanks" id="ContactFormThanks">
    Thank you for contacting me. I will respond as soon as possible.
</div>

