html {
    height: 100%;
}

/* color scheme http://colorschemedesigner.com/#4W32P0RQYw0w0 */

body {
    height: 100%;
    background-color: rgb(41,57,85);
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
}

a:link, a:visited, a:active {
}

a:hover {
}

p {
}

h1, h2, h3, h4 {
}

h2 {
}

hr {
    border: 0;
    height: 1px;
    background-color: rgb(54,54,57);
}

.clearboth {
    clear: both;
}

/* nav */
.column-nav {
    background-color: rgb(22,32,48);
    margin: 0 10px 0 0;
    width: 200px;
    height: 100%;
    float: left;
}

    .column-nav a {
        text-decoration: none;
        color: #ffffff;
    }

    .column-nav .nav {
        padding: 10px;
    }

        .column-nav .nav ul {
            padding: 0 0 0 0;
            list-style: none;
        }

            .column-nav .nav ul li {
                padding: 0 0 0 0;
            }

                .column-nav .nav ul li :hover {
                    border-left: 10px solid #fff;
                    margin-left: -10px;
                }

                .column-nav .nav ul li a {
                    width: 100%;
                    display: block;
                }

        .column-nav .nav .legend {
            text-transform: uppercase;
        }



.column-content {
    background-color: #293955;
    height: 100%;
    float: left;
}

/* Header */
.header {
}

.site-logo {
    text-decoration: none;
    width: 200px;
    text-transform: uppercase;
}

    .site-logo .first-name {
        font-weight: bold;
        font-size: 72px;
        line-height: 51px;
    }

    .site-logo .last-name {
        font-size: 43px;
    }

.page-title {
    font-size: 36px;
    padding: 22px 10px 10px 10px;
}





.content {
    padding-left: 10px;
}

/* Footer */
.footer {
    bottom: 0;
    left: 5px;
    position: fixed;
    padding: 0 4px;
    font-size: 10px;
}

    .footer a {
        text-decoration: none;
    }


.social {
    margin-top: 5px;
}

    .social li {
        float: left;
        margin: 0 8px;
    }

        .social li a {
            height: 32px;
            width: 33px;
            display: block;
        }



/* Contact Page*/
