html {
    height:100%;
}

/* color scheme http://colorschemedesigner.com/#4W32P0RQYw0w0 */

body {
    height:100%;
    background-color:rgb(41,57,85);
    font-family: Verdana, Geneva, sans-serif;
}

a:link, a:visited, a:active {
}

a:hover {
}

p {
}

h1, h2, h3, h4 {
}

h2 {
}

hr {
     border: 0; 
     height: 1px; 
     background-color:rgb(54,54,57);
}

.clearboth {clear: both;}

/* nav */
.column-nav {
    
    background-color:rgb(22,32,48);
    color:rgb(255,255,255);
    margin: 0 0 0 0;
    width: 200px;
    height: 100%;
    float:left;
}
    .column-nav a {
        color:rgb(255,255,255);
        text-decoration:none;
    }
    .column-nav .nav {
        padding: 10px;
    }

    .column-nav .nav ul {
        padding: 0 0 0 0;
        list-style: none;
    }
        .column-nav .nav ul li {
            padding: 0 0 0 0;
        }
        .column-nav .nav ul li :hover {
            border-left: 10px solid #fff;
            margin-left: -10px;
        }
            .column-nav .nav ul li a {
                width: 100%;
                display: block;
            }
        .column-nav .nav .legend {
            text-transform:uppercase;
        }



.column-content {
    background-color:rgb(255,255,255);
    height: 100%;
    float:left;
}

/* Header */
.header {
    
}

.site-logo {
    color:rgb(255,255,255);
    text-decoration: none;
    width: 200px;
    text-transform:uppercase;
}

    .site-logo .first-name {
        font-weight: bold;
        font-size: 72px;
        line-height: 51px;
    }

    .site-logo .last-name {
        font-size: 43px;
    }

.page-title {
    color: #7D7D7D;
    font-size: 36px;

}



            

.content {

    
}

/* Footer */
.footer {
    background-color: #487293;
    border-radius: 10px 10px 0 0;
    bottom: 0;
    color: #A7A8AA;
    left: 5px;
    position: fixed;
    padding: 0 4px;
    font-size: 10px;
}
    .footer a {
        text-decoration: none;
        color: #AAA7AA;
    }


.social {

margin-top: 5px;
}
.social li {
    float:left;
    margin: 0 8px;
}
.social li a {
    height: 32px;
    width: 33px;
    display: block;
}
    .social li.twitter a {
        background: url("Images/socialicons.png") no-repeat scroll 0px 0px transparent;
    }
        .social li.twitter a:hover {
            background-position: 0px -32px;
        }
            
    .social li.google a{
        background: url("Images/socialicons.png") no-repeat scroll -33px 0px transparent;
    }
        .social li.google a:hover {
            background-position: -33px -32px;
        }

    .social li.linkedin a{
        background: url("Images/socialicons.png") no-repeat scroll -65px 0px transparent;
    }
        .social li.linkedin:hover a{
            background-position: -65px -32px;
        }
            
    .social li.facebook a{
        background: url("Images/socialicons.png") no-repeat scroll -98px 0px transparent;
    }
        .social li.facebook:hover a{
            background-position: -98px -32px;
        }
            