* {
    margin: 0;
    padding: 0;
    /*-webkit-transition: .35s;
    -moz-transition: .35s;
    -o-transition: .35s;
    transition: .35s;*/
}

html {
    height: 100%;
}

/* color scheme http://colorschemedesigner.com/#3H32Piig5w0w0 */


body {
    height: 100%;
    background-color: #293955;
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
    font-size: 15px;
}

a:link, a:visited, a:active {
}

a:hover {
}

p {
}

h1, h2, h3, h4 {
}

h2 {
}

hr {
    border: 0;
    height: 1px;
    background-color: rgb(54,54,57);
}

.clearboth {
    clear: both;
}

/* nav */
.column-nav {
    background-color: #0D1D37;
    margin: 0;
    border-right: 5px solid #273040;
    border-bottom: 0;
    width: 210px;
    height: 100%;
    /*float: left;*/
    position: fixed;
}

    .column-nav a {
        text-decoration: none;
        color: #ffffff;
    }

    .column-nav .nav {
        padding: 15px;
        float: left;
    }

        .column-nav .nav ul {
            padding: 0 0 0 0;
            list-style: none;
        }

            .column-nav .nav ul li {
                padding: 5px 0px;
                font-size: 24px;
                border-left: 10px solid #0D1D37;
                margin-left: -10px;
            }

                .column-nav .nav ul li:hover {
                    border-left-color: #ffffff;
                    /*border-left: 10px solid #fff;*/
                    /*margin-left: -10px;*/
                }

                .column-nav .nav ul li a {
                    width: 100%;
                    display: block;
                }

/*.column-nav .nav .legend {
            text-transform: uppercase;
        }*/




/* Header */
.header {
    margin: 10px 5px;
}

.tagline {
    font-size: 15px;
    margin: 0px 0px 8px 36px;
    font-style: italic;
}

.site-logo {
    text-decoration: none;
    width: 200px;
    text-transform: uppercase;
    visibility: hidden;
}

    .site-logo .first-name {
        font-weight: bold;
        font-size: 72px;
        line-height: 51px;
    }

    .site-logo .last-name {
        font-size: 43px;
    }


.social {
    display: block;
    margin: 0px 0px 0px 5px;
}

    .social li {
        float: left;
    }

        .social li a {
            height: 48px;
            width: 48px;
            display: block;
        }

        .social li.twitter a {
            background-image: url(images/icons/twitter-48.png);
        }

        .social li.linkedin a {
            background-image: url(images/icons/linkedin-48.png);
        }

        .social li.googleplus a {
            background-image: url(images/icons/googleplus-48.png);
        }

        .social li.github a {
            background-image: url(images/icons/github-48.png);
        }


/* general content */
.column-content {
    background-color: #293955;
    height: 100%;
    /*float: left;*/
    margin-left: 215px;
}

.page-title {
    font-size: 46px;
    padding: 22px 10px 10px 10px;
    color: #6880AA;
}

.content {
    margin-left: 10px;
    padding-left: 10px;
}

    .content a {
        color: #7A8CAA;
    }

        .content a.button {
            background: none repeat scroll 0 0 #7A8CAA;
            border: 1px solid #7A8CAA;
            color: #0D1D37;
            padding: 5px 10px;
            margin: 5px;
        }

            .content a.button:active {
                border: 1px solid #273040;
            }

.emailAddress {
}

/* about */
.About {
}

    .About h2 {
        font-size: 19px;
        margin: 10px 0;
        color: #A5BC6B;
    }

/* Contact Page*/
.Contact {
}

    .Contact p, .Contact .formField {
        clear: both;
        display: block;
        float: left;
        margin: 5px 0px 10px;
    }

    .Contact label {
        float: left;
        font-size: 17px;
        margin: 0 0 5px 5px;
        color: #A5BC6B;
    }

    .Contact input {
        font-size: 18px;
        height: 28px;
        width: 220px;
    }

    .Contact textarea {
        font-size: 18px;
        height: 80px;
        width: 220px;
    }

.FormSubmitButton {
    text-decoration: none;
}

.ContactFormError {
    display: none;
    color: #B16596;
    float: left;
}

.ContactFormThanks {
    display: none;
}

/* work page*/
.Work {
}

    .Work h2 {
        font-size: 19px;
        margin: 10px 0;
        color: #A5BC6B;
    }

    .Work .skillList {
        margin: 10px 0;
    }

        .Work .skillList a {
            background: none repeat scroll 0 0 #7A8CAA;
            border: 1px solid #7A8CAA;
            color: #0D1D37;
            margin: 5px 2px;
            padding: 1px 5px;
            /*text-decoration: none;*/
        }

        .Work .skillList :active {
            border: 1px solid #273040;
        }

    .Work .desc {
        font-style: italic;
        margin: 10px 0;
    }

    .Work .workSkillsSection {
        padding: 1px 0;
    }

    .Work .skillDescriptions div {
        display: none;
        color: #C0A26D;
    }





/* responsive adjustments */
@media screen and (max-width:480px) {

    .column-nav {
        position: relative;
        width: 100%;
        height: 310px;
        border-right: 0;
        border-bottom: 5px solid #273040;
    }
        .column-nav .nav {
             clear: both;
        }

    .column-content {
        margin: 0 0 50px 5px;
    }
}
